body {
  background-image: url("../img/bg4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-shadow: rgb(144, 196, 25) 5px 0 10px;
  overflow-x: hidden;
}

.contenedor {
  background-color: rgba(206, 214, 221, 0.349);
  width: 70%;
  margin-top: 150px;
  margin-left: 70px;
  padding: 30px;
  text-align: center;
  font-weight: bolder;
  padding-bottom: 50px;
  text-shadow: rgb(144, 196, 25) 1px 0 10px;
  color: white;
}

.cTitulo {
  display: flex;
  justify-content: center;
  gap: 300px;
  margin-top: 70px;
  margin-bottom: 30px;
}

.cImg {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.cImg img {
  width: 500px;
}

.contenedor2 {
  background-color: rgba(206, 214, 221, 0.349);
  width: 70%;
  margin-top: 400px;
  margin-left: 480px;
  padding: 30px;
  text-align: center;
  font-weight: bolder;
  padding-bottom: 50px;
  text-shadow: rgb(144, 196, 25) 1px 0 10px;
  color: white;
}

.cImg2 {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.cImg2 img {
  width: 350px;
  height: 300px;
}

.cTitulo2 {
  display: flex;
  gap: 250px;
  margin-top: 70px;
  margin-bottom: 30px;
}

.contenedor3 {
  background-color: rgba(206, 214, 221, 0.349);
  width: 70%;
  margin-top: 400px;
  margin-left: 300px;
  padding: 30px;
  text-align: center;
  padding-bottom: 50px;
  text-shadow: rgb(144, 196, 25) 1px 0 10px;
  margin-bottom: 30px;
  color: white;
}

.cImg3 {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.cImg3 img {
  width: 400px;
  height: 330px;
  margin-top: 25px;
}

footer {
  background-color: black;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  color: rgb(144, 214, 12);
  font-size: larger;
}

#nombre {
  height: 75px;
  margin-top: -125px;
  margin-left: 30px;
  box-shadow: rgb(144, 196, 25) 10px 0 50px;
  border-radius: 25px;
}
