body {
  background-image: url("../img/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contenedor {
  background-color: rgba(206, 214, 221, 0.349);
  width: 70%;
  margin-top: 150px;
  margin-left: 70px;
  padding: 30px;
  text-align: center;
  font-weight: bolder;
  padding-bottom: 50px;
}

.cTitulo {
  display: flex;
  justify-content: center;
  gap: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cImg {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.cImg img {
  width: 500px;
}
